{% extends "inc/base.j2" %}
{% block content %}

  <nav>
    <ul>
      <li><h3>accounts / {{ group.name }}</h3></li>
      <li><a href="/account-namings/{{ group.id }}">namings</a></li>
      <li><a href="/account-balances/{{ group.id }}">balances</a></li>
    </ul>
  </nav>

  <table class="sortable">
    <thead>
    <tr>
      <th>n</th>
      <th>account</th>
      {% for naming in group.namings %}
        <td>{{ naming.value }}</td>
      {% endfor %}
      {% for coin in group.coins %}
        <th>
          {{ coin | network_from_coin_id }}<br>
          {{ coin | symbol_from_coin_id }}
        </th>
      {% endfor %}
    </tr>
    <tr>
      <td></td>
      <td></td>
      {% for naming in group.namings %}
        <td></td>
      {% endfor %}
      {% for coin in group.coins %}
        <th>{{ info.coins_sum[coin] }}</th>
      {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for account in group.accounts %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ account }}</td>
        {% for naming in group.namings %}
          <td>{{ info.get_names(naming, account) }}</td>
        {% endfor %}
        {% for coin in group.coins %}
          <td>{{ info.get_balance(coin, account) }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
