{% extends "inc/base.j2" %}
{% block content %}
  <div>
    <h3>accounts / {{ group.name }}</h3>
  </div>

  <table class="sortable">
    <thead>
    <tr>
      <th>n</th>
      <th>account</th>
      {% for coin in group.coins %}
        <th>
          {{ coin | network_from_coin_id }}<br>
          {{ coin | symbol_from_coin_id }}
        </th>
      {% endfor %}
    </tr>
    <tr>
      <td></td>
      <td></td>
      {% for coin in group.coins %}
        <th>{{ info.coins_sum[coin] }}</th>
      {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for account in group.accounts %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ account }}</td>
        {% for coin in group.coins %}
          <td>{{ info.get_balance(coin, account) }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
