{% extends "inc/base.j2" %}
{% block content %}



  <nav>
    <ul>
      <li><h3>accounts / {{ group.name }}</h3></li>
      <li><a href="/accounts/{{ group.id }}/names">names</a></li>
      <li><a href="/accounts/{{ group.id }}/balances">balances</a></li>
    </ul>
  </nav>

  <table class="sortable">
    <thead>
    <tr>
      <th>n</th>
      <th>account</th>
      {% for naming in group.namings %}
        <th>{{ naming.value }}</th>
      {% endfor %}
      {% for coin in group.coins %}
        <th>
          {{ info.coins_map[coin].network }}<br>
          {{ info.coins_map[coin].symbol }}
        </th>
      {% endfor %}
    </tr>
    <tr>
      <td></td>
      <td></td>
      {% for naming in group.namings %}
        <td></td>
      {% endfor %}
      {% for coin in group.coins %}
        <th>{{ info.coins_sum[coin] }}</th>
      {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for account in group.accounts %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ account }}</td>
        {% for naming in group.namings %}
          <td>{{ info.get_name(naming, account) }}</td>
        {% endfor %}
        {% for coin in group.coins %}
          <td>
            <a href="{{ info.explorer_address(coin, account) }}">{{ info.get_balance(coin, account) }}</a>
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
