{% extends "inc/base.j2" %}
{% block content %}
  <div>
    <h3>balances / {{ balances  | length }}</h3>
  </div>

  <form method="GET">
    <fieldset class="grid">
      <select name="group">
        <option value="">group...</option>
        {% for g in groups %}
          <option value="{{ g.id }}" {% if g.id == form.group %}selected{% endif %}>{{ g.name }}</option>
        {% endfor %}
      </select>
      <select name="coin">
        <option value="">coin...</option>
        {% for c in coins %}
          <option value="{{ c.id }}" {% if c.id == form.coin %}selected{% endif %}>{{ c.network }}
            / {{ c.symbol }}</option>
        {% endfor %}
      </select>
      <input type="number" name="limit" value="{{ form.limit or 1000 }}" placeholder="limit" min="1">
      <input type="submit" value="filter" class="outline">
    </fieldset>
  </form>

  <table>
    <tr>
      <th>account</th>
      <th>coin</th>
      <th>balance</th>
      <th>balance_raw</th>
      <th>checked_at</th>
      <th>actions</th>
    </tr>
    {% for b in balances %}
      <tr>
        <td>{{ b.account }}</td>
        <td>{{ b.coin }}</td>
        <td>{{ b.balance | empty }}</td>
        <td>{{ b.balance_raw | empty }}</td>
        <td>{{ b.checked_at | dt }}</td>
        <td>
          <details class="dropdown">
            <summary>actions</summary>
            <ul>
              <li><a href="/api-post/account-balances/{{ b.id }}/check">check</a></li>
              <li><a href="/api/account-balances/{{ b.id }}">view</a></li>
            </ul>
          </details>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
