{% extends "inc/base.j2" %}
{% block content %}

<div class="page-header">
  <h2>bot</h2>
  <nav>
    <a href="/networks">networks</a>
    <a href="/namings">namings</a>
    <a href="/coins">coins</a>
    <a href="/names">names</a>
    <a href="/balances">balances</a>
    <a href="/naming-problems">naming problems</a>
    <a href="/rpc-monitoring">rpc monitoring</a>
  </nav>
</div>

<table>
  <tr>
    <td>check namings</td>
    <td>{{ state.check_namings | yes_no }}</td>
    <td><a href="/api-post/bot/toggle-check-namings">toggle</a></td>
  </tr>
  <tr>
    <td>check balances</td>
    <td>{{ state.check_balances | yes_no }}</td>
    <td><a href="/api-post/bot/toggle-check-balances">toggle</a></td>
  </tr>
</table>

{% endblock %}