{% extends "inc/base.j2" %}
{% block content %}

  <nav>
    <ul>
      <li><h3>bot</h3></li>
      <li><a href="/networks">networks</a></li>
      <li><a href="/namings">namings</a></li>
      <li><a href="/coins">coins</a></li>
      <li><a href="/naming-problems">naming problems</a></li>
      <li><a href="/rpc-monitoring">rpc monitoring</a></li>
    </ul>
  </nav>

  <table>
    <tr>
      <th>check namings</th>
      <th>{{ dvalue.check_namings | yes_no }}</th>
      <td><a href="/api-post/bot/toggle-check-namings">toggle</a></td>
    </tr>
    <tr>
      <th>check balances</th>
      <th>{{ dvalue.check_balances | yes_no }}</th>
      <td><a href="/api-post/bot/toggle-check-balances">toggle</a></td>
    </tr>
  </table>

{% endblock %}
