{% extends "inc/base.j2" %}
{% block content %}
  <nav>
    <ul>
      <li><h3>coins</h3></li>
      <li><a data-target="modal-import" onclick="toggleModal(event)">import</a></li>
      <li><a href="/coins/export">export</a></li>
    </ul>
  </nav>

  <dialog id="modal-import">
    <article>
      <header>
        <h3>import coins</h3>
      </header>
      <form method="post" action="/coins/import">
        <textarea name="value" rows="10" cols="10" required></textarea>
        <input type="submit" value="import">
      </form>
    </article>
  </dialog>

  <table>
    <tr>
      <th>network</th>
      <th>symbol</th>
      <th>token</th>
      <th>decimals</th>
      <th>actions</th>
    </tr>
    {% for c in coins %}
      <tr>
        <td nowrap="nowrap">{{ c.network }}</td>
        <td>{{ c.symbol }}</td>
        <td>
          {{ c.token | empty }}
          {{ c.notes }}
        </td>
        <td>{{ c.decimals }}</td>

        <td>
          <details class="dropdown">
            <summary>actions</summary>
            <ul>
              <li><a href="/api-delete/coins/{{ c.id }}" {{ confirm }}>delete</a></li>
              <li><a href="/api/coins/{{ c.id }}">view</a></li>
            </ul>

          </details>
        </td>
      </tr>
    {% endfor %}
  </table>


{% endblock %}
