{% extends "inc/base.j2" %}
{% block content %}
<div class="page-header">
  <h2>coins / {{ coins | length }}</h2>
  <nav>
    <a onclick="dialog('dialog-import')">import</a>
    <a href="/coins/export">export</a>
    <a href="/coins/check-stats">check stats</a>
  </nav>
</div>

<dialog id="dialog-import" label="import coins">
  <article>
    <form method="post" action="/coins/import" class="stack">
      <textarea name="value" placeholder="coins as TOML document" rows="10" cols="10" required></textarea>
      <button type="submit">import</button>
    </form>
  </article>
</dialog>

<table>
  <thead>
    <tr>
      <th>network</th>
      <th>symbol</th>
      <th>decimals</th>
      <th>token</th>
      <th>actions</th>
    </tr>
  </thead>
  {% for c in coins %}
  <tr>
    <td nowrap="nowrap">{{ c.network }}</td>
    <td> <a href="{{ explorer_token_map[c.id] }}">{{ c.symbol }}</a> </td>
    <td>{{ c.decimals }}</td>
    <td>
      {{ c.token | empty }}<br>
      {{ c.notes }}
    </td>
    <td>
      <details class="dropdown">
        <summary>actions</summary>
        <ul>
          <li><a href="/api-delete/coins/{{ c.id }}" {{ confirm }}>delete</a></li>
          <li><a href="/api/coins/{{ c.id }}">view</a></li>
        </ul>
      </details>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}