{% extends "inc/base.j2" %}
{% block content %}

<div class="page-header">
  <h2>group / {{ group.name }}</h2>

  <nav>
    <a onclick="dialog('dialog-name-and-notes')">update name and notes</a>
    <a onclick="dialog('dialog-accounts')">accounts ({{ group.accounts | length
      }})</a>
    <a onclick="dialog('dialog-coins')">coins ({{ group.coins | length
      }})</a>
    <a onclick="dialog('dialog-namings')">namings ({{ group.namings | length
      }})</a>
    <a href="/api-post/history?group={{ group.id }}" {{ confirm }}>create history</a>
  </nav>

  <details class="dropdown">
    <summary>other actions</summary>
    <ul>
      <li><a href="/names?group={{ group.id }}">view names</a></li>
      <li><a href="/balances?group={{ group.id }}">view balances</a></li>
      <li><a data-target="modal-name-and-notes" onclick="toggleModal(event)">update name and
          notes</a></li>
      <li><a href="/api-post/groups/{{ group.id }}/reset-group-balances" {{ confirm }}>reset balances</a>
      </li>
      <li><a href="/api-delete/groups/{{ group.id }}" {{ confirm }}>delete</a></li>
      <li><a href="/api/groups/{{ group.id }}">view</a></li>
    </ul>
  </details>

</div>

<dialog id="dialog-name-and-notes" label="update name and notes">
  <article>
    <form method="post" action="/groups/{{ group.id }}/name-and-notes" class="stack">
      <input name="name" value="{{ group.name }}"></input>
      <input name="notes" value="{{ group.notes }}"></input>
      <button type="submit">save</button>
    </form>
  </article>
</dialog>

<dialog id="dialog-accounts" label="update accounts" style="--width: 800px;">
  <article>
    <form method="post" action="/groups/{{ group.id }}/accounts" class="stack">
      <textarea name="value" rows="20" required value="{{ " \n".join(group.accounts) }}"></textarea>
      <button type="submit">save</button>
    </form>
  </article>
</dialog>

<dialog id="dialog-coins" label="update coins">
  <article>
    <form method="post" action="/groups/{{ group.id }}/coins" class="stack">
      <select name="value" size="small" multiple style="height: 15rem;">
        {% for network_type, coins in coins_by_network_type.items() %}
        {% if group.network_type == network_type %}
        <optgroup label="{{ network_type.value }}">
          {% for c in coins %}
          <option value="{{ c.id }}" {{ "selected" if c.id in group.coins }}>{{ c.symbol }}</option>
          {% endfor %}
        </optgroup>
        {% endif %}
        {% endfor %}
      </select>
      <button type="submit">save</button>
    </form>
  </article>
</dialog>

<dialog id="dialog-namings" label="update namings">
  <article>
    <form method="post" action="/groups/{{ group.id }}/namings" class="stack">
      <select name="value" multiple style="min-height:300px">
        {% for naming in namings %}
        {% if naming.network_type == group.network_type %}
        <option value="{{ naming }}" {{"selected" if naming in group.namings}}>{{ naming }}</option>
        {% endif %}
        {% endfor %}
      </select>
      <button type="submit">save</button>
    </form>
  </article>
</dialog>

<table class="sortable">
  <thead>
    <tr>
      <th>n<br></th>
      <th>account<br></th>
      <th>note<br></th>
      {% for naming in group.namings %}
      <th>{{ naming.value }}<br></th>
      {% endfor %}
      {% for coin in group.coins %}
      <th>
        <p style="white-space: nowrap;">{{ info.coins_map[coin].network.value }}</p>{{ info.coins_map[coin].symbol }}
      </th>
      {% endfor %}
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      {% for naming in group.namings %}
      <th></th>
      {% endfor %}
      {% for coin in group.coins %}
      <th>{{ info.coins_sum[coin] }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for account in group.accounts %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ account }}</td>
      <td>
        {{ group.account_notes[account] }}
        <a onclick="dialog('dialog-update-account-notes-{{ account }}')" variant="text">[e]</a>
        <dialog id="dialog-update-account-notes-{{ account }}" label="update notes for {{ account }}">
          <article>
            <form method="post" action="/groups/{{ group.id }}/update-account-notes" class="stack">
              <input type="hidden" name="account" value="{{ account }}">
              <input type="text" name="notes" value="{{ group.account_notes[account] }}"></input>
              <button type="submit">save</button>
            </form>
          </article>
        </dialog>
      </td>
      {% for naming in group.namings %}
      <td>{{ info.get_name(naming, account) }}</td>
      {% endfor %}
      {% for coin in group.coins %}
      <td>
        <a href="{{ info.explorer_address(coin, account) }}">{{ info.get_balance(coin, account) }}</a>
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}