{% extends "inc/base.j2" %}
{% block content %}

  <nav>
    <ul>
      <li><h3>group / {{ group.name }}</h3></li>
      <li><a href="/names?group={{ group.id }}">names</a></li>
      <li><a href="/balances?group={{ group.id }}">balances</a></li>
      <li><a href="/api-post/history?group={{ group.id }}" {{ confirm }}>create history</a></li>
    </ul>
  </nav>

  <table class="sortable">
    <thead>
    <tr>
      <th>n<br></th>
      <th>account<br></th>
      <th>note<br></th>
      {% for naming in group.namings %}
        <th>{{ naming.value }}<br></th>
      {% endfor %}
      {% for coin in group.coins %}
        <th><p
          style="white-space: nowrap;">{{ info.coins_map[coin].network.value }}</p>{{ info.coins_map[coin].symbol }}
        </th>
      {% endfor %}
    </tr>
    <tr>
      <td></td>
      <td></td>
      <th></th>
      {% for naming in group.namings %}
        <td></td>
      {% endfor %}
      {% for coin in group.coins %}
        <th>{{ info.coins_sum[coin] }}</th>
      {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for account in group.accounts %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ account }}</td>
        <td>
          {{ group.account_notes[account] }}
          <a data-target="modal-update-account-notes-{{ account }}" onclick="toggleModal(event)">[e]</a>
          <dialog id="modal-update-account-notes-{{ account }}">
            <article>
              <header>
                <h3>update notes for {{ account }}</h3>
              </header>
              <form method="post" action="/groups/{{ group.id }}/update-account-notes">
                <input type="hidden" name="account" value="{{ account }}">
                <input type="text" name="notes" value="{{ group.account_notes[account] }}">
                <input type="submit" value="save">
              </form>
            </article>
          </dialog>

        </td>
        {% for naming in group.namings %}
          <td>{{ info.get_name(naming, account) }}</td>
        {% endfor %}
        {% for coin in group.coins %}
          <td>
            <a href="{{ info.explorer_address(coin, account) }}">{{ info.get_balance(coin, account) }}</a>
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
