{% extends "inc/base.j2" %}
{% block content %}

  <h3>naming problems</h3>

  <table>
    <tr>
      <th>created_at</th>
      <th>network</th>
      <th>naminc</th>
      <th>account</th>
      <th>problem</th>
    </tr>
    {% for p in problems %}
      <tr>
        <td>{{ p.created_at | dt }}</td>
        <td>{{ p.network }}</td>
        <td>{{ p.naming }}</td>
        <td>{{ p.account }}</td>
        <td>{{ p.message }}</td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}
