{% extends "inc/base.j2" %}
{% block content %}

<div class="page-header">
  <h2>networks / {{ networks | length }}</h2>
  <nav>
    <a href="/networks/check-stats">check stats</a>
    <a href="/api-post/networks/update-mm-node-checker">update mm-node-checker</a>
  </nav>
</div>

<table>
  <thead>
    <tr>
      <th>network</th>
      <th>type</th>
      <th>rpc urls</th>
      <th>mm-node-checker rpc urls</th>
    </tr>
  </thead>
  {% for n in networks %}
  <tr>
    <td>{{ n }}</td>
    <td>{{ n.network_type }}</td>
    <td>
      {% for rpc_url in rpc_urls[n] %}
      {{ rpc_url }}
      <a href="/api-delete/networks/{{ n.value }}/delete-rpc-url?url={{ rpc_url | urlencode }}" title="delete" {{
        confirm }}>[d]</a>
      <br>
      {% endfor %}


      <button onclick="dialog('dialog-add-{{ n }}')" class="outline">add</button>
      <dialog id="dialog-add-{{ n }}" label="add rpc url">
        <article>
          <form method="post" action="/networks/{{ n.value }}/add-rpc-url" class="stack">
            <input type="text" name="url" placeholder="url">
            <button type="submit">add</button>
          </form>
        </article>
      </dialog>
    </td>
    <td>
      {% for u in mm_node_checker[n.value] %}
      {{ u }}<br>
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>


{% endblock %}