{% extends "inc/base.j2" %}
{% block content %}

  <nav>
    <ul>
      <li><h3>networks / {{ networks | length }}</h3></li>
      <li><a href="/networks/check-stats">check stats</a></li>
      <li><a href="/api-post/networks/update-mm-node-checker">update mm-node-checker</a></li>
    </ul>
  </nav>

  <dialog id="modal-import">
    <article>
      <header>
        <h3>import networks</h3>
      </header>
      <form method="post" action="/networks/import">
        <textarea name="value" rows="10" cols="10" required></textarea>
        <input type="submit" value="import">
      </form>
    </article>
  </dialog>

  <table>
    <tr>
      <th>network</th>
      <th>type</th>
      <th>rpc urls</th>
      <th>mm-node-checker rpc urls</th>
    </tr>
    {% for n in networks %}
      <tr>
        <td>{{ n.value }}</td>
        <td>{{ n.network_type.value }}</td>
        <td>
          {% for rpc_url in rpc_urls[n] %}
            {{ rpc_url }}
            <a href="/api-delete/networks/{{ n.value }}/delete-rpc-url?url={{ rpc_url | urlencode }}" title="delete" {{ confirm }}>[d]</a>
            <br>
          {% endfor %}

          <a data-target="modal-add-rpc-url-{{ n.value }}" onclick="toggleModal(event)">add</a>
          <dialog id="modal-add-rpc-url-{{ n.value }}">
            <article>
              <header>
                <h3>add rpc url</h3>
              </header>
              <form method="post" action="/networks/{{ n.value }}/add-rpc-url">
                <input type="text" name="url">
                <input type="submit" value="add">
              </form>
            </article>
          </dialog>
        </td>
        <td>
          {% for u in mm_node_checker[n.value] %}
            {{ u }}<br>
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
  </table>



{% endblock %}
